.quote-container {
	margin: 0px 15vw;
	opacity: 0.6;
}

.fadeIn {
	opacity: 1;
	transition: opacity var(--quote-animation-timer);
	-webkit-transition: opacity var(--quote-animation-timer);
}

.fadeOut {
	opacity: 0;
	transition: opacity var(--quote-animation-timer);
	-webkit-transition: opacity var(--quote-animation-timer);
}

.quote-container .quote {
	padding: 20px 50px;
	font-size: x-large;
}

.quote-container .author {
	font-style: italic;
}
